.footer {
  background-color: rgb(30, 31, 36);
  color: white;
  text-align: center;
  padding: 2rem;
}
.footerGridCon {
  // background-color: bisque;
  display: flex;
  justify-content: center;
}
.footerGridItem {
  // background-color: aqua;
}
.footerList1 {
  text-align: start;
  padding-left: 8.5rem;
}
